 /*extra css architalia*/
 
 [data-md-color-scheme=light] {
  --md-primary-fg-color:#59798e;
  --md-default-fg-color:#434343;
  --md-default-bg-color:#f2f4f5;
  --md-code-bg-color:#c4d9ff;
  --md-code-fg-color:#222;
  --md-typeset-a-color:#06c;
 
}

 [data-md-color-scheme=slate] {
  --md-primary-fg-color:#3f4157;
  
 
 
}

.md-typeset code {
font-size: .86em;
padding:5px
}

img[alt=iso] { width: 200px; }


