 /*extra css architalia*/
 
 
 body{
 font-family: 'Ubuntu';
 }
 

p{
  font-size: 17px!important;
  line-height: 1.6;
}

code, pre {
  font-size: 15px!important;
  line-height: 1.6;
}
 
.md-tabs__item .md-tabs__link {
  font-size: 16px;
  font-weight:400;
}
 
.md-banner{
 background-color: var(--md-banner-color);
 color: var(--md-typeset-color)
} 
 

 
 
 [data-md-color-scheme=light] {
  --md-primary-fg-color:#59798e;
  --md-default-fg-color:#434343;
  --md-default-bg-color:#f2f4f5;
  --md-code-bg-color:#dbe6ee; /*#c4d9ff;*/
  --md-code-fg-color:#222;
  --md-typeset-a-color:#06c;
  --md-typeset-color:#434343;
 
}

 [data-md-color-scheme=slate] {
  --md-primary-fg-color:#3f4157;
  
 
 
}

.md-typeset code {
font-size: .86em;
padding:5px
}

img[alt=iso] { width: 200px; }


textarea{ 
font-family:'Ubuntu mono';
background-color: var(--md-code-bg-color);
color: var(--md-code-fg-color);
border:none;
border-radius:12px;
padding:10px;
width:100%;
}

#chatSessionDeleteButton{
color:var(--md-typeset-a-color);
cursor:pointer;
}

#signup-modal{
background-color: var(--md-primary-fg-color);
color:#fff;
border:none;
width:100%;
}

.modal-body{
background-color: var(--md-primary-fg-color);
}

.close{
font-size:30px;
}


#progressContainer{
background-color: var(--md-code-bg-color);
width:40%;
margin:10px 0;

}

#progressBar{

background:var(--md-typeset-a-color);
height:3px;
width:100%;
}


@media screen and (max-width: 59.9375em){
.md-nav__source {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
  display: block;
  padding: 0 .2rem;
}
}
